*{
    margin: 0;
    padding: 0;
}

header{

    display: flex;
    justify-content: space-around;
    background-color: red;
    height: 60px;

}

#box1{
    background-color: white;
    height: 370px;
    width: 600px;
    box-shadow: 2px 2px 3px rgb(85, 82, 82);
    margin: 60px;
    margin-left: 540px;

}

video{
    margin-top: -25px;
}

.posicionamento-h5{
 margin-left: 700px;
 margin-top: 70px;
}
h5{
    font-size: 50px;
    font-family: 'STAY';
}

p{
    padding-top: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h6{   font-size: 12px;
margin-top: 10px;
font-family: Arial, Helvetica, sans-serif;
color:rgb(85, 82, 82);
}

h1{
    font-size: 35px;
    margin-top: 13px;
    margin-left: -110px;
    font-family:monospace;
}
.div-busca{
 background-color: white;
 width: 130px;
 height: 28px;
 border: 2px solid black;
 margin: 20px;
 margin-top: 12px;
 text-align: center;
 color: black;
}

.posicionamento-texto-busca{
    margin-top: 20px;
}

.posicionando-button{
    margin-top: -25px;
}

button{
    width:60px;
    height: 32px;
    margin-left: 132px;
    background-color: black;
    border: black 1px solid;
   color: white;
 }

footer{
    background-color: black;
    color: white;
    margin-top: 40px;
    height: 60px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    margin: 30px;


}



.videos{
    width: 310px;
    height: 200px;
    background-color: chartreuse;
    margin: 30px;
  
}


.texto-footer{
    text-align: center;
}


@font-face {
    font-family: STAY;
    src: url(./Fontes/STAY\ HOME.otf);
}

.posicionamento-video{
    margin-top: -22px;
}