*{
    margin: 0;
}






header {
    background-color: mediumvioletred;
    height: 40px;
}



footer {
    background-color: mediumvioletred;
    height: 50px;
    text-align: center;
}

.frase-footer{
 padding-top: 20px;
}

.meio{
    background-color: white;
    height: 642px;
}

.caixa-lado-esquerdo{
    background-color: #f2d0e0;
    width: 200px;
    height: 645px;
}

