*{
    margin: 0;
}



header {
    background-color: mediumvioletred;
    height: 60px;
}

.posicionamento-button{
    margin-top: -25px;
    margin-left: 1450px;
}


.meio{
    background-color: white;
    height: 642px;
}


.frase-footer{
 padding-top: 20px;
}


footer {
    background-color: mediumvioletred;
    height: 50px;
    text-align: center;
    margin-top: 2px;
}

.frase-footer{
 padding-top: 20px;
}

.meio{
    background-color: white;
    height: 642px;
}

.caixa-lado-esquerdo{
    background-color: #f2d0e0;
    width: 200px;
    height: 645px;
}

.posicionamento-button{
    margin-top: -25px;
    margin-left: 1450px;
}



.posicionamento-texto-lado-esquerdo{
    margin-left: 20px;
}
/* MENU */
#home{
    margin-left: 20px;
    padding-top: 20px;
    
}

#produtos{
    margin-left: 20px;
    padding-top: 15px;
    
}

#carrinho{
    margin-left: 20px;
    padding-top: 15px;
    
}

#perfil{
    margin-left: 20px;
    padding-top: 15px;
    
}

/*LETRA PERSONALIZADA */
h3{
    margin-top: 20px;
}

h2{
    margin-left: 41px;
    padding-top: 20px;

}

p{
text-align: center; 
}
/* POSICIONAMENTOS */
.posicionamento-bolinho{
 margin-top: -25px; 
 margin-left: 10px;
}

.posicionamento-home{
    margin-top: -120px;
    margin-left: 10px;
}

.posicionamento-produtos{
    margin-top: 10px;
    margin-left: 10px;
}

.posicionamento-carrinho{
    margin-top: 15px;
    margin-left: 10px;
}

.posicionamento-perfil{
    margin-top: 10px;
    margin-left: 10px;
}

.posicionamento-setinha1{
    margin-left: 170px;
    margin-top: -120px;
}

.posicionamento-setinha2{
    margin-left: 170px;
    margin-top: 10px;
}

.posicionamento-setinha3{
    margin-left: 170px;
    margin-top: 18px;
}


.posicionamento-setinha4{
    margin-left: 170px;
    margin-top: 16px;
}

.posicionamento-button{
    margin-top: -25px;
    margin-left: 1450px;
}



.posicionamento-texto-lado-esquerdo{
    margin-left: 20px;
}

.posicionamento-bolo-grande1{
    margin-top: -20px;
}

.posicionamento-h2{
    margin-top: -20px;
}

/*CONTAINER E CAIXAS FILHAS */
#container{
 height: 400px;
 display: flex;
align-items: center;
margin-top: -600px;
margin-left: 400px;
background-color: pink;
}

.item1{
    width: 270px;
    height: 300px;
    background-color: white;
    margin-right: 20px;
    margin-top: -625px;
    margin-left: 230px;
    box-shadow: 3px 2px 3px rgba(50, 50, 50, 0.77);
}
.item2{
    width: 270px;
    height: 300px;
    background-color: white;
    margin-right: 20px;
    margin-top: -300px;
    margin-left: 530px;
    box-shadow: 3px 2px 3px rgba(50, 50, 50, 0.77);

}
.item3{
    width: 270px;
    height: 300px;
    background-color: white;
    margin-right: 20px;
    margin-top: -297px;
    margin-left: 830px;
    box-shadow: 3px 2px 3px rgba(50, 50, 50, 0.77);

}

.item4{
    width: 270px;
    height: 300px;
    background-color: white;
    margin-right: 20px;
    margin-top: -300px;
    margin-left: 1130px;
    box-shadow: 3px 2px 3px rgba(50, 50, 50, 0.77);

}

.item5{
    width: 270px;
    height: 300px;
    background-color: white;
    margin-right: 20px;
    margin-top: 15px;
    margin-left: 230px;
    box-shadow: 3px 2px 3px rgba(50, 50, 50, 0.77);

}
.item6{
    width: 270px;
    height: 300px;
    background-color: white;
    margin-right: 20px;
    margin-top: -298px;
    margin-left: 530px;
    box-shadow: 3px 2px 3px rgba(50, 50, 50, 0.77);

}
.item7{
    width: 270px;
    height: 300px;
    background-color: white;
    margin-right: 20px;
    margin-top: -298px;
    margin-left: 830px;
    box-shadow: 3px 2px 3px rgba(50, 50, 50, 0.77);

}
