
*{
    margin: 0;
    padding: 0;
}


/* TOPO */
.topo{
    background-color: white;
    width: 100%;
    height: 120px;
    margin-top: -40px;


}

/*MEIO */
.meio{
    background-color: #eaece8;
    width: 100%;
    height: 600px;
}



/*  FOOTER */

footer{
    background-color: #f6466c;
    width: 100%;
    height: 90px;
}

/* MENU */

.menu-inicio{
    background-color: white;
    width: 60px;
    height: 30px;
    margin-left: 700px;
    padding-top: 55px;
    margin-top: 35px;
    color: yellow;
    border-bottom: tomato;
    color: yellow
    /* display: inline; */
    
}
.menu-sobre-mim{
    background-color: white;
    width: 100px;
    margin-top: -30px;
    margin-left: 820px;
}

.menu-projetos{
    background-color: white;
    width: 80px;
    margin-left: 980px;
    margin-top: -19px;
}

.menu-contato{
    background-color: white;
    width: 75px;
    height: 20px;
    margin-left: 1120px;
    margin-top: -19px;
}

/*LETRAS */

/* IMAGENS */
img{
    margin-left: 500px;
    margin-top: 30px;
}

.posicionamento-icone1{
 margin-top: -116px;
 margin-top: -80px;
 margin-left: 80px;
}

.posicionamento-icone2{
    margin-top: -25px;
    margin-left: 730px;
   }

   
.posicionamento-icone3{
    margin-top: -78px;
    margin-left: 162px;
    margin-left: 175px;
   }

.frase-topo{
    color: #f6466c;
    height: 110px;    
    margin-top: -60px;
    padding-left: 50px;
    width: 1400px;
}

h1 {
	font-family: Baby sweet;
    font-size: 35px;
}


/* LINKS */ 

	
 /* link que ainda não foi acessado */
 a {
    color: #000;
    text-decoration: none;
 }
 /* link que foi visitado */
 a:visited {
     color: #f6466c;
     text-decoration: none;
 }
 /* quando o ponteiro do mouse passa no link */
 a:hover {
     color: #FFC0CB;
     text-decoration: none;
 }
 /* quando o link for selecionado */
 a:active {
     color: black;
     text-decoration: none;
 }

    

    height: 90px;    
    font-family: 'Courier New', Courier, monospace;
    margin-top: -40px;
    padding-left: 140px;
}

/* FONTE BONITA */



a:visited {
    color: #fb758e;
};

/*BOTÃO */

.botao-voltar{
    background-color: aqua;
}

.frase-footer{
    color: black;
    margin-top: -50px;
    margin-left: -690px;
    font-family:sans-serif;
    
}

.p4{
    font-family:sans-serif

}
/* FONTE BONITA */ 
@font-face {
	font-family: Baby sweet;
	src: url('Baby sweet Script.otf')
}


/* BARRA DE ROLAGEM COLORIDA */
::-webkit-scrollbar {
    width:10px;
    height: 10px;
    }
 ::-webkit-scrollbar-track {
        background: pink;
        }
        ::-webkit-scrollbar-thumb {
            background: white;
            }



/* FORMULÁRIO */
#area
{
  margin-top: 200px;
  margin-left: 300px;
  left: 200px;
  top: 140px;
  width:320px;
  height:270px;
}
#area #formulario
{
  position:absolute;
  display:block;
}
fieldset
{
  width:100px;
  height:250px;
}
legend
{
  font-style:bold;
  font-family: sans-serif;
}

/* TESTE MENU!!! */
/*** menu bucks por fred ****/
/* .button {
    width: 100px;
    margin: 0px;display: inline-block; margin: 0 -50px 0 0;
  }
  .button a {
      margin-left: 200px;
      margin-top: -90px;
    display: block;
    height: 30px;
    width: 120px;
    color: #fff;
    font:bold 14px/40px helvetica, verdana, sans-serif;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    /*gradient*/  
    /* background: #f6466c; ; 
   
  }
  .button a {
      -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
  
  }
  .button p {
  -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;} */ 

            
/* TESTE CAIXA */
.caixadiv {
    background-color: white;
    box-sizing: border-box;
    margin-top: -580px;
    margin-left: 320px;
    width: 900px;
    height: 520px;
    float: left;
  }

  h2{
      font-size: 70px;
      font-family: Champagne;
      margin-left: 150px;
      color: #363636;
      margin-top: 60px;
  }
  @font-face {
	font-family: Champagne;
	src: url('Champagne\ &\ Limousines.ttf')
}

.texto-inicio{
    width: 880px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
}

a{
    font-family: Champagne;
}

.posicionamento-foto{
 margin-top: -30px;
 margin-left: 40px;

}