
*{
    margin: 0;
    padding: 0;
}


/* TOPO */
.topo{
    background-color: white;
    width: 100%;
    height: 120px;
    margin-top: -40px;


}

/*MEIO */
.meio{
    background-color: #eaece8;
    width: 100%;
    height: 600px;
}



/*  FOOTER */

footer{
    background-color: #f6466c;
    width: 100%;
    height: 90px;
    margin-top: 350px;
}

/* MENU */

.menu-inicio{
    background-color: white;
    width: 60px;
    height: 30px;
    margin-left: 700px;
    padding-top: 55px;
    margin-top: 35px;
    color: yellow;
    border-bottom: tomato;
    /* display: inline; */
    
}
.menu-sobre-mim{
    background-color: white;
    width: 100px;
    margin-top: -30px;
    margin-left: 820px;
}

.menu-projetos{
    background-color: white;
    width: 80px;
    margin-left: 980px;
    margin-top: -19px;
}

.menu-contato{
    background-color: white;
    width: 75px;
    height: 20px;
    margin-left: 1120px;
    margin-top: -19px;
}


/* IMAGENS */
img{
    margin-left: 500px;
    margin-top: 30px;
}

.posicionamento-icone1{
 margin-top: -116px;
 margin-left: 80px;
}

.posicionamento-icone2{
    margin-top: -25px;
    margin-left: 730px;
   }

   
.posicionamento-icone3{
    margin-top: -78px;
    margin-left: 162px;
   }

.frase-topo{
    color: #f6466c;
    height: 110px;    
    margin-top: -60px;
    padding-left: 50px;
    width: 1400px;
}

h1 {
	font-family: Baby sweet;
    font-size: 35px;
}


/* LINKS */ 

a:link, a:visited {
	text-decoration: none;
	}
a:hover {
	text-decoration: none;
	color: #f6466c
	}
a:active {
	text-decoration: none;
	}

/*BOTÃO */

.botao-voltar{
    background-color: aqua;
}

.frase-footer{
    color: black;
    margin-top: -20px;
    margin-left: -190px;
    font-family:sans-serif
}

.p4{
    font-family:sans-serif

}
/* FONTE BONITA */ 
@font-face {
	font-family: Baby sweet;
	src: url('Baby sweet Script.otf')
}


/* BARRA DE ROLAGEM COLORIDA */
::-webkit-scrollbar {
    width:10px;
    height: 10px;
    }
 ::-webkit-scrollbar-track {
        background: pink;
        }
        ::-webkit-scrollbar-thumb {
            background: white;
            }





/* TESTE CAIXA */
.caixadiv {
    background-color: white;
    box-sizing: border-box;
    margin-top: -580px;
    margin-left: 320px;
    width: 900px;
    height: 520px;
    float: left;
  }

  h2{
      font-size: 70px;
      font-family: Champagne;
      margin-left: 130px;
      color: #363636;
  }
  @font-face {
	font-family: Champagne;
	src: url('Champagne\ &\ Limousines.ttf')
}
/* FORMULARIO */
#area
{
  position:relative;
  width:20px;
  height:70px;
  margin-top: -410px;
  margin-left: 550px;
}
#area #formulario
{
  position:absolute;
  display:block;
}


fieldset
{
  background-color: white;
  width:500px;
  height:290px;
}
legend
{
  font-weight:bold;
  font-family: "Segoe UI","Arial","Times New Roman";
}
#formulario label
{
  position:absolute;
  left:19px;
  margin-right:5px;
}
#formulario input.campo_nome
{
  background-color: #FFC0CB;
  position:absolute;
  left:95px;
  top:23px;
  width:295px;
}
#formulario input.campo_email
{
  background-color: #FFC0CB;
  position:absolute;
  left:95px;
  margin-top:2px;
  width:295px;
}
#formulario textarea.msg
{
  position:absolute;
  background-color: #FFC0CB;
  margin-left: 90px;
  width: 300px;
}





#formulario input.btn_submit
{
    width: 50px;
    height: 24px;
  position:absolute;
  bottom: 0.5em;
  right:10px;
  background-color:#f6466c;
}

a{
  font-family: Champagne;
}